---
layout: default
title: Johnny Halife's blog
---

<div id="home">
	<div class="hero-unit">
		<ul class="navigation">
				<li><a href="http://feeds.feedburner.com/johnny-halife"><img src="/images/rss.png" alt="rss"/></a></li>
				<li><a href="http://github.com/johnnyhalife"><img src="/images/github.png" alt="GitHub OSS projects"/></a></li>
				<li><a href="http://twitter.com/johnnyhalife"><img src="/images/twitter.png" alt="twitter"/></a></li>
				<li>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="S9LBFMNRSQN84">
						<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
						<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>
				</li>
		</ul>
    <h1><a href="/" title="howdy, people">Howdy, people!</a></h1>
    <p>My name is <strong>Johnny Halife</strong>, I'm yet another software developer that writes his thoughts on a blog. You can also
		follow me on <span class="label notice"><a href="http://twitter.com/johnnyhalife">Twitter</a></span> or check my open source projects
	  on <span class="label"><a href="http://github.com/johnnyhalife">GitHub</a></span>.</p>
  </div>


	<div class="posts">
		{% for page in paginator.posts %}
		  {% include single_page.html %}
		{% endfor %}
  </div>

	<div class="pagination">
	  <ul>
		  {% if paginator.previous_page %}
	    	<li class="prev"><a href="/page{{paginator.previous_page}}">&larr; Previous</a></li>
		  {% else %}
	    	<li class="prev disabled"><a href="#">&larr; Previous</a></li>	
		  {% endif %}		

		  {% if paginator.page == 1 %}
	      <li class="active"><a href="#">1</a></li>
		  {% else %}
	      <li><a href="/">1</a></li>
		  {% endif %}		
			
	    {% for count in (2..paginator.total_pages) %}
	      {% if count == paginator.page %}
	      <li class="active"><a href="#">{{count}}</a></li>
	      {% else %}
	      <li><a href="/page{{count}}">{{count}}</a></li>
	      {% endif %}
	    {% endfor %}
			
			
			{% if paginator.next_page %}
	    	<li class="prev"><a href="/page{{paginator.next_page}}">&rarr; Next</a></li>
		  {% else %}
	    	<li class="prev disabled"><a href="#">&rarr; Next</a></li>	
		  {% endif %}
	  </ul>
	</div>
</div>
  