<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="ruby web development agile software development lean node.js windows azure southworks developer cloud heroku powershell">
    <meta name="author" content="Johnny G. Halife">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/johnny-halife">
		
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
		<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap.overrides.css">

		<meta name="keywords" content="software, patterns, software services, development, consulting services, .net, net3fx, netfx, johnny halife, dinnernow.net, software node.js programming development agile ruby python scala windows azure" />
		<meta name="description" content="development and consulting services. Latest technology, platform leveraging, software+services, Saas, development, agile, development practices, enterprise development, Agile, Argentina, Benefits, Careers, Endeavor, Entrepreneurship, Globalization, Global Services, Infrastructure Management, IT Jobs Outsourcing, Services Software, Development, Redmond, Seattle" />
		<meta name="robots" content="all" />
		
		<!-- Geo Tagging -->
		<meta name="geo.region" content="AR-C" />
		<meta name="geo.placename" content="Buenos Aires" />
		<meta name="geo.position" content="-34.608417;-58.373161" />
		<meta name="ICBM" content="-34.608417, -58.373161" />
		
		<!-- Google analytics -->
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-27122823-1']);
		  _gaq.push(['_setDomainName', 'johnny.io']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
		
  </head>
  <body>
    <div class="container">
		  {{ content }}
    </div> <!-- /container -->
    <footer>
      <p>&copy; <a href="http://twitter.com/johnnyhalife">johnnyhalife</a></p>
    </footer>
  </body>
</html>
