---
layout: default
---
<div class="hero-unit">
		<span class="back"><a href="/">&laquo; Go back</a></span>
		<ul class="navigation">
				<li><a href="http://feeds.feedburner.com/johnny-halife"><img src="/images/rss.png"></a></li>
				<li><a href="http://github.com/johnnyhalife"><img src="/images/github.png"></a></li>
				<li><a href="http://twitter.com/johnnyhalife"><img src="/images/twitter.png"></a></li>
		</ul>
</div>

<article>
		<h1>{{ page.title }}</h1>
		<h6>Published on {{ page.date | date : "%Y/%m/%d"}} by <a href="http://twitter.com/johnnyhalife">@johnnyhalife</a></h6>
	  {{ page.content }}
</article>

<hr />

<div id="comments">
	<div id="disqus_thread"></div>
</div>