---
layout: default
---
<div class="hero-unit">
	<navbar>
			<span><a href="/">&laquo; Go back</a></span>
			<ul class="navigation">
					<li><a href="http://feeds.feedburner.com/johnny-halife"><img src="/images/rss.png"></a></li>
					<li><a href="http://github.com/johnnyhalife"><img src="/images/github.png"></a></li>
					<li><a href="http://twitter.com/johnnyhalife"><img src="/images/twitter.png"></a></li>
			</ul>
	</navbar>
</div>

<article>
		<h1>{{ page.title }}</h1>
		<h6>Published on {{ page.date | date : "%Y/%m/%d"}} by <a href="http://twitter.com/johnnyhalife">@johnnyhalife</a></h6>
	  {{ page.content }}
</article>

<div id="related">
  <h2>Related Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>